<div id="background">
	<div id="page">
		<div id="header">
			<div id="logo">
				<a href="/"><img src="/images/logo.png" alt="LOGO" height="100" width="200"></a>
			</div>
			<div id="navigation">
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/travel">Travel</a>
					</li>
					<li>
						<a href="/rooms">Rooms</a>
					</li>
					<li>
						<a href="/meals">Meals</a>
					</li>
					<li>
						<a href="/news">News</a>
					</li>
					<li class="selected">
						<a href="/about">About</a>
					</li>
					<li>
						<a href="/contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="contents">
			<div class="box">
				<div>
					<div class="body">
						<h1>{{title}}</h1>
						<h2>Learn More About Travlr Getaways</h2>
						<p>
							Travlr Getaways is designed to help customers discover exciting travel destinations, compare travel packages, and plan memorable vacations with confidence. Our goal is to provide an easy-to-use travel website where visitors can explore packages by location and price, review accommodations, and prepare for upcoming trips.
						</p>
						<p>
							This website is being developed to support both customers and administrators. Customers will be able to search for travel options, create accounts, and view their itineraries before departure. Administrators will be able to manage trip packages, customer information, and pricing through a secure admin area in later stages of development.
						</p>
						<hr>
						<div class="ads">
							<h2>Our Team</h2>
							<p>
								Our travel team is committed to helping customers find the right getaway experience, whether they are looking for relaxation, adventure, or a family vacation.
							</p>
							<h2>Amenities</h2>
							<p>
								Travlr Getaways offers details on rooms, dining, destinations, and travel highlights so customers can make informed booking decisions.
							</p>
						</div>
						<h2>Be Part of Our Community</h2>
						<p>
							We welcome travelers who want a simple and enjoyable way to browse vacation options and prepare for their next adventure.
						</p>
						<h2>Website Purpose</h2>
						<p>
							This page is part of the Travlr Getaways web application project and demonstrates how a customer-facing website can be organized using MVC architecture, Express routes, controllers, and Handlebars templates.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<div>
			<ul class="navigation">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/travel">Travel</a>
				</li>
				<li>
					<a href="/rooms">Rooms</a>
				</li>
				<li>
					<a href="/meals">Meals</a>
				</li>
				<li>
					<a href="/news">News</a>
				</li>
				<li class="active">
					<a href="/about">About</a>
				</li>
				<li>
					<a href="/contact">Contact</a>
				</li>
			</ul>
			<div id="connect">
				<a href="http://pinterest.com/fwtemplates/" target="_blank" class="pinterest"></a>
				<a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a>
				<a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a>
				<a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a>
			</div>
		</div>
		<p>
			© 2023 by Travlr Getaways. All Rights Reserved
		</p>
	</div>
</div>