<div id="background">
	<div id="page">
		<div id="header">
			<div id="logo">
				<a href="/"><img src="/images/logo.png" alt="LOGO" height="100" width="200"></a>
			</div>
			<div id="navigation">
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/travel">Travel</a>
					</li>
					<li>
						<a href="/rooms">Rooms</a>
					</li>
					<li>
						<a href="/meals">Meals</a>
					</li>
					<li class="selected">
						<a href="/news">News</a>
					</li>
					<li>
						<a href="/about">About</a>
					</li>
					<li>
						<a href="/contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="contents">
			<div class="box">
				<div>
					<div id="news" class="body">
						<div class="sidebar">
							<h3>Latest News</h3>
							<ul>
								<li>
									<a href="/news">2023 Best Beaches Contest Winners</a>
								</li>
								<li>
									<a href="/news">Top 10 Diving Spots</a>
								</li>
								<li>
									<a href="/news">Travel Safety Updates for Summer</a>
								</li>
								<li>
									<a href="/news">Family Vacation Planning Guide</a>
								</li>
							</ul>
							<h3>Vacation Tips</h3>
							<ul>
								<li>
									<a href="/news">What to bring on the beach?</a>
								</li>
								<li>
									<a href="/news">Planning Fun Activities</a>
								</li>
								<li>
									<a href="/news">Diving Checklist</a>
								</li>
								<li>
									<a href="/news">First Aid</a>
								</li>
								<li>
									<a href="/news">How to Build a Sand Castle?</a>
								</li>
								<li>
									<a href="/news">Tanning Tips</a>
								</li>
							</ul>
						</div>
						<div>
							<h1>{{title}}</h1>
							<img src="/images/kayak.jpg" alt="Img">
							<h2>Experience Kayaking!</h2>
							<span class="time">April 03, 2023<br> by: Travlr Staff</span>
							<p>
								Kayaking is one of the most exciting activities travelers can add to their getaway plans. It offers a great combination of adventure, sightseeing, and relaxation while allowing guests to explore beautiful coastlines and calm waters from a new perspective.
							</p>
							<p>
								At Travlr Getaways, we want travelers to enjoy experiences that match their destination and travel style. Whether you are planning a family vacation, a romantic escape, or a solo adventure, outdoor activities like kayaking can add memorable moments to your trip.
							</p>
							<p>
								Check back regularly for more travel news, planning ideas, and destination tips as you prepare for your next vacation with Travlr Getaways.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<div>
			<ul class="navigation">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/travel">Travel</a>
				</li>
				<li>
					<a href="/rooms">Rooms</a>
				</li>
				<li>
					<a href="/meals">Meals</a>
				</li>
				<li class="active">
					<a href="/news">News</a>
				</li>
				<li>
					<a href="/about">About</a>
				</li>
				<li>
					<a href="/contact">Contact</a>
				</li>
			</ul>
			<div id="connect">
				<a href="http://pinterest.com/fwtemplates/" target="_blank" class="pinterest"></a>
				<a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a>
				<a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a>
				<a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a>
			</div>
		</div>
		<p>
			© 2023 by Travlr Getaways. All Rights Reserved
		</p>
	</div>
</div>